* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'partials/colors';

body {
    background-color: $bg-primary;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
}

h2 {
    color: $orange;
}

#perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

#perfil h1 {
    color: $black-normal;
}

#perfil p {
    margin: 20px 0;
}

#filmes,
#series {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-secondary;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    margin-top: auto;
}
